In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
salaries_df = pd.read_csv(r'C:\Users\Kimia\Downloads\Salaries.csv')
teams_df = pd.read_csv(r'C:\Users\Kimia\Downloads\Teams.csv')

In [3]:
print(salaries_df.head(5))
print(teams_df.head(5))

   yearID teamID lgID   playerID   salary
0    1985    BAL   AL  murraed02  1472819
1    1985    BAL   AL   lynnfr01  1090000
2    1985    BAL   AL  ripkeca01   800000
3    1985    BAL   AL   lacyle01   725000
4    1985    BAL   AL  flanami01   641667
   yearID lgID teamID franchID divID  Rank   G  Ghome   W   L     ...       \
0    1871  NaN    PH1      PNA   NaN     1  28    NaN  21   7     ...
1    1871  NaN    CH1      CNA   NaN     2  28    NaN  19   9     ...
2    1871  NaN    BS1      BNA   NaN     3  31    NaN  20  10     ...
3    1871  NaN    WS3      OLY   NaN     4  32    NaN  15  15     ...
4    1871  NaN    NY2      NNA   NaN     5  33    NaN  16  17     ...

   DP    FP                     name                      park  attendance  \
0 NaN  0.84   Philadelphia Athletics  Jefferson Street Grounds         NaN
1 NaN  0.82  Chicago White Stockings   Union Base-Ball Grounds         NaN
2 NaN  0.83     Boston Red Stockings       South End Grounds I         NaN
3 NaN  0.85      Washington Olympics          Olympics Grounds         NaN
4 NaN  0.83         New York Mutuals  Union Grounds (Brooklyn)         NaN

   BPF  PPF  teamIDBR  teamIDlahman45  teamIDretro
0  102   98       ATH             PH1          PH1
1  104  102       CHI             CH1          CH1
2  103   98       BOS             BS1          BS1
3   94   98       OLY             WS3          WS3
4   90   88       NYU             NY2          NY2

[5 rows x 48 columns]

In [7]:
print(salaries_df['salary'].max())
teamID_list = []
for row in salaries_df:
    if row[1] not in teamID_list:
        teamID_list.append(row[1])
print(teamID_list)

teamID
ANA    13166667
ARI    16000000
ATL    16061802
BAL    17000000
BOS    22500000
CAL     5375000
CHA    17000000
CHN    19000000
CIN    18910655
CLE    15000000
COL    20275000
DET    23000000
FLO    14936667
HOU    19369019
KCA    13000000
LAA    26187500
LAN    23854494
MIA    19000000
MIL    15500000
MIN    23000000
ML4     5875000
MON    11500000
NYA    33000000
NYN    23145011
OAK    13500000
PHI    25000000
PIT    16500000
SDN    15505142
SEA    20557143
SFN    22250000
SLN    16333327
TBA    10125000
TEX    22000000
TOR    19700000
WAS    16571429
Name: salary, dtype: int64

ValueError: Can only compare identically-labeled DataFrame objects